/**********************************************
GENERAL
**********************************************/
.spacing{
  margin: 15px auto;
}

.block{
  height:200px;
  width:100%;
  background-color: tomato;
}

.blocks{
  height:200px;
  width: 30%;
  margin: 0 1%;
  background-color: blue;
  display:inline-block;
}
